body {
	background: rgb(63, 94, 251);
	background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
	background-repeat: no-repeat;
	font-family: sans-serif;
	color: white;
	min-height: 100vh; /* Cambié "height" a "min-height" para evitar que el contenido desborde en pantallas pequeñas */
  }
  
  main {
	max-width: 730px; /* Usamos "max-width" en lugar de "width" para que no supere el ancho de la pantalla */
	margin: 100px auto 50px;
	display: flex;
	
	align-items: center;
  }
  
  .section1 {
	background-color: rgba(255, 255, 255, 0.2);
	padding: 0 10px;
	border-radius: 8px;
  }
  
  h1 {
	text-align: center;
  }
  
  button {
	height: 100px;
	width: 100px;
	font-size: 40px;
	color: white;
	font-weight: bold;
  }
  
  button:hover {
	cursor: pointer;
  }
  
  .section2 {
	background-color: rgba(255, 255, 255, 0.2);
	width: 100%; /* Ajustamos el ancho al 100% para que ocupe todo el ancho disponible */
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	padding: 0 20px;
	margin-top: 20px; /* Añadimos un margen para separar de la sección anterior */
  }
  
  .estadisticas {
	border: 1px solid white;
	height: 105px;
	border-radius: 8px;
	padding: 8px 20px;
	box-sizing: border-box;
	margin-bottom: 10px; /* Agregamos un margen inferior para separar las estadísticas */
  }
  
  footer {
	text-align: center;
	margin-top: 20px; /* Añadimos un margen superior para separar del contenido principal */
  }
  
  a {
	text-decoration: none;
  }
  
  /* Media Query para dispositivos con un ancho máximo de 768px */
  @media screen and (max-width: 768px) {
	main {
	  display: flex;
	  flex-direction: column; /* Cambiamos la dirección del flex para apilarse en pantallas pequeñas */
	  margin-top: 50px; /* Reducimos el margen superior en pantallas pequeñas */
	}
  
	.section2 {
	  height: auto; /* Cambiamos la altura a "auto" para que se ajuste al contenido */
	  margin-top: 10px; /* Reducimos el margen superior en pantallas pequeñas */
	  padding: 10px; /* Añadimos un espacio de relleno más pequeño */
	}
  
	.estadisticas {
	  height: 70px; /* Reducimos la altura en pantallas pequeñas */
	  font-size: 16px; /* Reducimos el tamaño de fuente en pantallas pequeñas */
	}
  }
  